#bigtitle {
  font-family: 'Nanum Myeongjo', serif;
    color: white;
    font-size: 50px;
    font-weight: 100;
    line-height: 50px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#introtext {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #fc9586;
    padding-left: 40px;
    padding-right: 40px;
}

#introtext2 {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

#introtext3 {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #fc9586;
    padding-left: 40px;
    padding-right: 40px;
}

#introtext4 {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

#introtext6 {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #fc9586;
    padding-left: 40px;
    padding-right: 40px;
}

a {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
  font-weight: 100;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fc9586;
}

#rain_leaves video{
  position: absolute;
  top: 40px;
  left: 40px;
  height: 250px;
}

#fanhorizontal video{
  position: absolute;
  top: 30px;
  left: 300px;
  height: 140px;
}
#clouds_sky video{
  position: absolute;
  top: 30px;
  left: 555px;
  height: 140px;
}

#window_light video{
  position: absolute;
  top: 260px;
  left: 240px;
  height: 120px;
}
#laundry video{
  position: absolute;
  top: 260px;
  left: 470px;
  height: 240px;
}

#rain video{
  position: absolute;
  top: 230px;
  left: 720px;
  height: 140px;
}

#pink_garden video{
  position: absolute;
  top: 40px;
  left: 1050px;
  height: 195px;
}
#night_multiple_windows video{
  position: absolute;
  top: 270px;
  left: 1000px;
  height: 190px;
}

#tape_flying video{
  position: absolute;
  top: 620px;
  left: 40px;
  height: 150px;
}

#shadow_blowing video{
  position: absolute;
  top: 590px;
  left: 370px;
  height: 130px;
}
#water_ripple_zoomed_in video{
  position: absolute;
  top: 590px;
  left: 605px;
  height: 130px;
}

#pool_ripple_day video{
  position: absolute;
  top: 630px;
  left: 900px;
  height: 140px;
}
#cone_pool_night video{
  position: absolute;
  top: 630px;
  left: 1150px;
  height: 140px;
}
